# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app

# vim backup files
*.swp
*.swn
*~

# Misc
*.exe.stackdump

# Specific Files

# Output folders
build/*
lib/*

# CMake related stuff
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles/*

# Doxygen
docs/html
docs/latex
