<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BxDRobotExporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <userSettings>
    <BxDRobotExporter.Properties.Settings>
      <setting name="ChildColor" serializeAs="String">
        <value>125, 0, 255</value>
      </setting>
      <setting name="HighlightParent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveLocation" serializeAs="String">
        <value>firstRun</value>
      </setting>
      <setting name="FancyColors" serializeAs="String">
        <value>False</value>
      </setting>
    </BxDRobotExporter.Properties.Settings>
  </userSettings>
</configuration>
