# This file is used to auto request reviews for a pull request
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @autodesk/synthesis-devs @autodesk/synthesis-admin

/exporter/ @autodesk/fusion @autodesk/synthesis-admin

/fission/src/aps/ @autodesk/fusion @autodesk/synthesis-admin
/fission/src/mirabuf/ @autodesk/fusion @autodesk/synthesis-admin
/fission/src/proto/ @autodesk/fusion @autodesk/synthesis-admin

/fission/ @autodesk/fission @autodesk/synthesis-admin
/installer/ @autodesk/fusion @autodesk/synthesis-admin
