.vs
.vs/
.vs/*
[Dd]ebug
[Rr]elease
engine/unity5/Build_Data
*.sou
*.vxcproj.user
tags
*.exe
*.userprefs
docs/
build/
installer/Fields
installer/Robots
installer/Synthesis
installer/SynthesisDrive
installer/SynthesisLauncher.exe
installer/Apache2.rtf
installer/Synthesis Installer.exe
installer/README.pdf
installer/cygscripts/http*
*.sdf
*.VC.db
*.DS_Store
**/.idea

Synthesis_Data/

Replays/
*.dll
!CER_Utility.dll
*.pdb

*.signature.p7s

# Ignore NuGet packages
*.nupkg

# Packages folder can be ignored because of package restore
**/[Pp]ackages/*

# Other ignorable NuGet files
*.nuget.props
*.nuget.targets
project.lock.json
project.assets.json

# Ignore obj folder which can regenerate with no issues
/exporters/BxDRobotExporter/RobotExporterTests/obj
/exporters/BxDRobotExporter/BxDRobotExporter/obj
