# Compiled Object files

*.slo

*.lo

*.o


# Compiled Dynamic libraries

*.so

*.dylib


# Compiled Static libraries

*.lai

*.la

*.a
*.lib
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore the builddir
build/*

# Ignore WindRiver crap
*/PPC603gnu/*
*.*project
*.wr*
*/Debug/*
*/Release/*
*/x64/*
*/Win32/*
# Some other misc files that might pop up
*.*swp
*.*~
*.*orig
*.v11.suo

#DB
*.sdf
*.opensdf

*.pdb
*.exe
*.ilk

# Stupid java stuff
*.class
.settings/
pom.xml
package.html