* text=auto

# Workaround for a bug in GitHub's language detection,
# previously half of our code was being counted as JavaScript.. for some reason...
# and we certainly can't have that. - Brandon
*.js linguist-detectable=false
