# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

FusionSynth.build/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
!SimulaterAPI.dll
*.dll