[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
Packages/*
[Uu]ser[Ss]ettings/

!Packages/manifest.json
![Aa]ssets/**/*.meta
!Packages/packages-lock.json

Assets/Packages/*
Assets/Packages/*.meta

[Aa]ssets/AssetStoreTools*

*.csproj
*.sln

!EngineDeps/EngineDeps.csproj

!Assets/Packages/Api.dll
!Assets/Packages/Aardvark.dll

engine.sln.DotSettings.user

.vscode/
