<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="native" />
  <package id="Fody" version="2.0.0" targetFramework="native" />
  <package id="NUnit" version="3.12.0" targetFramework="native" />
  <package id="NUnit3TestAdapter" version="3.13.0" targetFramework="native" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="native" />
  <package id="OpenTK" version="2.0.0" targetFramework="native" />
  <package id="OpenTK.GLControl" version="1.1.2349.61993" targetFramework="native" />
</packages>
