<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SynthesisInventorGltfExporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SynthesisInventorGltfExporter.Properties.Settings>
            <setting name="ChildColor" serializeAs="String">
                <value>125, 0, 255</value>
            </setting>
            <setting name="HighlightParent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveLocation" serializeAs="String">
                <value>firstRun</value>
            </setting>
            <setting name="FancyColors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfigVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultRobotCompetition" serializeAs="String">
                <value>GENERIC</value>
            </setting>
            <setting name="ShowExportOrAdvancedForm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportToField" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFirstLaunchInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseAnalytics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGuide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnalyticsID" serializeAs="String">
                <value>firstRun</value>
            </setting>
        </SynthesisInventorGltfExporter.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
