<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SynthesisInventorGltfExporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SynthesisInventorGltfExporter.Properties.Settings>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportMaterials" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportFaceMaterials" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MeshTolerance" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="ExportFolder" serializeAs="String">
                <value>C:/</value>
            </setting>
            <setting name="ExportGLB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeSynthesisData" serializeAs="String">
                <value>True</value>
            </setting>
        </SynthesisInventorGltfExporter.Properties.Settings>
    </userSettings>
</configuration>