<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title><%= title %></title>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZQD4Q4J1XZ"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZQD4Q4J1XZ');
</script>
</html>