.engine-button {
    width: 50px;
    height: 50px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: rgba(242, 242, 242, 255);
}

.engine-button:hover {
    background-color: rgba(217, 217, 217, 255);
}
