.button-1 {
    height: 41px;
    width: 97px;
    background-color: rgba(0, 0, 0, 255);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 255);
    -unity-font-style: bold;
}
