/* Fonts */
@font-face
{
    font-family: 'Artifakt Element';
    src: url('../resources/artifakt.ttf') format("truetype");
}

*
{
    font-family: 'Artifakt Element';
    font-size: 12px;
}

/* Other Appearance */
body
{
    background-color: rgb(242, 242, 242);
    padding: 0.5rem;
}

fieldset
{
    margin: 0 0 2rem 0;
    padding: 1rem;
}

input, select, button
{
    transition: border 0.25s, background 0.25s;
    border: 1px solid rgb(185, 185, 185);
}

input:focus, select:focus, button:focus
{
    outline: none;
    border: 1px solid rgb(255, 186, 86);
}

button
{
    background: rgb(233, 233, 233);
    margin-bottom: 1rem;
}

button:hover
{
    background: rgb(225, 225, 225);
}

button:active
{
    background: rgb(210, 210, 210);
}

a
{
    text-decoration: underline;
    color: rgb(242, 144, 0);
}

a:hover
{
    color: rgb(255, 186, 86);
}

/* Form Fields */

.field-label
{
    float: left;
}

.field-input
{
    overflow: hidden;
    display: block;
    padding-left: 0.5rem;
    padding-right: 2px;
    margin-bottom: 1rem;
}

.field-select
{
    overflow: hidden;
    display: block;
    padding-left: 0.5rem;
    padding-right: 0;
    margin-bottom: 1rem;
}

.field-input *, .field-select *
{
    width: 100%;
}

button
{
    width: 100%;
    text-align: center;
}

/* Modal */

.modal { /* Background */
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-header { /* Header */
    padding: 2px 16px;
    background-color: orange;
    color: white;
}

.modal-content { /* Box */
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 85%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-body {
    padding: 2px 16px;
}
    
.close { /* Close Button */
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes animatetop {
    from {
        top: -300px; opacity: 0
    }
    to {
        top: 0; opacity: 1
    }
    
}