/* General */
html,
body {
    height: 100%;
}

body {
    font-family: sans-serif;
    font-size: 11px;
    color: #444444;
    
    background-color: #F2F2F2;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

}

.fusion-footer {
    border-top: 1px solid #cccccc;
}

.fusion-content {
    flex: 1;
    padding: 8px 13px 8px 13px;
    overflow: initial;
}

.fusion-footer {
    padding: 0 6px;
    overflow: initial;
}

/* Tables */

table {
    width: 90%;
    text-align: center;
    margin: auto; /*center table horizontally*/
}

table td {
    text-align: center;
}

/*Controls*/

.fusion-content input, .fusion-content select, .fusion-content button
{
    transition: border 0.25s, background 0.25s;
    border: 1px solid rgb(185, 185, 185);
}

p, b {
    margin: 0;
    padding: 0 0 0 0;
}

/*Footer buttons*/
.fusion-footer button {
    color: #666666;
    float: right;
    width: 60px;
    margin: 8px 5px;
    border: 1px solid #A4A4A4;
    background-color: #E9E9E9;
}

.fusion-footer button:hover {
    background-image: linear-gradient(to top, #3F6EA0, #5D8FC2);
    color: white;
}

/*Content buttons*/

.fusion-content button
{
    background: rgb(233, 233, 233);
    text-align: center;
}

.fusion-content button:hover
{
    background: rgb(225, 225, 225);
}

.fusion-content button:active
{
    background: rgb(210, 210, 210);
}

/*Misc controls*/

input[type=image] {
    border: 1px solid gray;
}

input[type=checkbox], input[type=text], input[type=number], select {
    position: absolute;
    left: 170px;
}

select, input[type=number] {
    border: 1px solid #D3D3D3;
    padding: 2px;
}

select:hover {
    background-color: #D9D9D9;
}

select:focus {
    background-color: #0199E1;
    border: 1px solid #0199E1;
}

select option {
    background-color: white;
}

select option:hover {
    background-color: #D9D9D9;
}

hr {
    position: relative;
    left: -13px;
    margin: 10px -26px 3px 0px;
    border: 0.5px solid #C5C5C5;
}

a
{
    text-decoration: underline;
    color: rgb(242, 144, 0);
}

a:hover
{
    color: rgb(255, 186, 86);
}

a
{
    text-decoration: underline;
    color: rgb(242, 144, 0);
}

a:hover
{
    color: rgb(255, 186, 86);
}

/* Modal */

.modal { /* Background */
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-header { /* Header */
    padding: 2px 16px;
    background-color: orange;
    color: white;
}

.modal-content { /* Box */
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 85%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-body {
    padding: 2px 16px;
}
    
.close { /* Close Button */
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes animatetop {
    from {
        top: -300px; opacity: 0
    }
    to {
        top: 0; opacity: 1
    }
    
}

/* Field set */
/*TODO: Find a better place for these*/

.field-label
{
    float: left;
}

.field-input
{
    overflow: hidden;
    display: block;
    padding-left: 0.5rem;
    padding-right: 2px;
    margin-bottom: 1rem;
}

.field-select
{
    overflow: hidden;
    display: block;
    padding-left: 0.5rem;
    padding-right: 0;
    margin-bottom: 1rem;
}

.field-input *, .field-select *
{
    width: 100%;
}